@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - AuthorsBooks</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js"></script>
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/css/MvcPagedList.CoreStyle.css" rel="stylesheet" />

</head>
<body>
    <header>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">Authors Books</a>
        <nav>
            <ul class="topmenu">
                <li>
                    <a href="" class="submenu-link">Authors</a>
                    <ul class="submenu">
                        <li><a asp-area="" asp-controller="Author" asp-action="AddPage">Add author</a></li>
                        <li><a asp-area="" asp-controller="Author" asp-action="ShowAllPage">Show all author</a></li>
                        <li><a asp-area="" asp-controller="Author" asp-action="DeleteAllAuthor">Delete all author</a></li>
                    </ul>
                </li>
                <li>
                    <a href="" class="submenu-link">Books</a>
                    <ul class="submenu">
                        <li><a asp-area="" asp-controller="Books" asp-action="AddPage">Add book</a></li>
                        <li><a asp-area="" asp-controller="Books" asp-action="ShowAllPage">Show all book</a></li>
                        <li><a asp-area="" asp-controller="Books" asp-action="DeleteAllBook">Delete all book</a></li>
                    </ul>
                </li>
                <li>
                    <a href="" class="submenu-link">Authors Books</a>
                    <ul class="submenu">
                        <li><a asp-area="" asp-controller="AuthorsBooks" asp-action="AddPage">Add authors books</a></li>
                        <li><a asp-area="" asp-controller="AuthorsBooks" asp-action="ShowAllPage">Show all authors books</a></li>
                        <li><a asp-area="" asp-controller="AuthorsBooks" asp-action="DeleteAllAuthorsBooks">Delete all authors books</a></li>
                    </ul>
                </li>
                <li>
                    <a href="" class="submenu-link">Authentication</a>
                    <ul class="submenu">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
                            </li>
                            <li class="nav-item">
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container" style="margin-top: 2%;">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - AuthorsBooks - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

</body>
</html>
